@import "http://yui.yahooapis.com/3.18.1/build/cssnormalize/cssnormalize-min.css";
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html {
  font: 1rem "PT Serif", serif; }

* {
  box-sizing: border-box; }

body {
  color: #3a4249; }

hr {
  outline: none;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  margin: 1.5rem 0; }

/*
Typography

General overview of typographical elements that will be available on the site.

Styleguide 2
*/
.title-1, h1, .title-2, h2, .title-3, h3, .title-4, h4, .title-5, h5, dt {
  font-family: "Lato", sans-serif;
  color: #3a4249;
  margin: inherit; }

.title-1, h1 {
  font-size: 2.25rem; }

.title-2, h2 {
  font-size: 1.75rem; }

.title-3, h3 {
  font-size: 1.5rem; }

.title-4, h4 {
  font-size: 1.25rem; }

.title-5, h5, dt {
  font-style: italic;
  font-size: 1rem; }

p {
  line-height: 1.875rem; }

a {
  font-family: "Lato", sans-serif;
  color: #148744;
  text-decoration: none; }
  a:hover, a.pseudo-class-hover {
    color: #0d5b2e;
    text-decoration: underline; }
  a:focus {
    color: #0d5b2e;
    text-decoration: underline; }

ul, ol, dl {
  margin: 1.5rem 0; }

li {
  margin: 1rem; }

dt {
  margin-top: 1rem; }
  dl + dt {
    border-top: 1px solid #d9d9d9;
    padding-top: 1rem; }

dd {
  margin: 0.5rem 1rem 0; }

blockquote {
  margin: 1.5rem 0;
  padding: 3rem 3rem 2rem 4rem;
  font-size: 1.5rem;
  line-height: 3rem;
  font-family: "Lato", sans-serif; }
  blockquote footer {
    padding-top: 1rem;
    font-size: 1.125rem;
    color: #3a4249;
    text-align: right; }

code, pre {
  line-height: 2rem;
  font-family: monospace;
  font-size: 0.866rem; }

code {
  padding: 0.5rem;
  background: #f2f2f2; }

.clearfix::before, .has-buttons.stacked::before, .clearfix::after, .has-buttons.stacked::after {
  content: '';
  display: table;
  clear: both; }

.has-inline-elements {
  vertical-align: baseline; }
  .has-inline-elements > * {
    display: inline-block;
    margin: 0 0.5rem; }

.has-background--primary {
  background: #fff; }

.has-background--secondary {
  background: #e5e8ea; }

.has-background--tertiary {
  background: #5c6874; }

.has-border--primary {
  border: 1px solid #d9d9d9; }

.has-border--primary--top {
  border-top: 1px solid #d9d9d9; }

.has-border--primary--right {
  border-right: 1px solid #d9d9d9; }

.has-border--primary--bottom {
  border-bottom: 1px solid #d9d9d9; }

.has-border--primary--left {
  border-bottom: 1px solid #d9d9d9; }

.has-border--secondary {
  border: 2px solid #bac1c8; }

.has-border--secondary--top {
  border-top: 2px solid #bac1c8; }

.has-border--secondary--right {
  border-right: 2px solid #bac1c8; }

.has-border--secondary--bottom {
  border-bottom: 2px solid #bac1c8; }

.has-border--secondary--left {
  border-bottom: 2px solid #bac1c8; }

/*
Forms and Form Elements

Styleguide 3
*/
/*
Form Elements

Styleguide 3.1
*/
label,
fieldset.has-checkboxes,
fieldset.has-radios {
  max-width: 40rem;
  display: block; }

input[type="tel"],
input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea,
label.form-select,
fieldset.has-checkboxes,
fieldset.has-radios {
  background: #f2f2f2;
  box-sizing: border-box;
  border: 1px solid #f2f2f2;
  border-radius: 13px;
  padding: 1rem; }
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="search"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  label.form-select:focus,
  fieldset.has-checkboxes:focus,
  fieldset.has-radios:focus {
    border-color: #d9d9d9; }

input[type="tel"],
input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea,
select {
  display: block;
  position: relative;
  width: 100%; }
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="search"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border-color: #d9d9d9; }

.field-description {
  display: block; }

label.form-text {
  position: relative;
  background: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  z-index: 1;
  min-width: 25rem; }
  label.form-text .field-description {
    font-family: "Lato", sans-serif;
    line-height: 1.5rem;
    margin: 1.5rem 0 0.5rem; }
  label.form-text input[type="tel"],
  label.form-text input[type="text"],
  label.form-text input[type="number"],
  label.form-text input[type="email"],
  label.form-text input[type="search"],
  label.form-text input[type="password"],
  label.form-text textarea {
    width: 100%;
    position: relative;
    z-index: 3;
    display: inline-block;
    font-size: 1rem; }

textarea {
  height: 12rem;
  resize: vertical;
  line-height: 1.5rem; }

label.form-select {
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  display: inline-block;
  margin: 0.75rem 0; }
  label.form-select select {
    display: block;
    min-width: 100%;
    font-size: 0.866rem;
    border: none;
    outline: none;
    background: #f2f2f2;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    color: #3a4249; }

label.form-checkbox,
label.form-radio {
  margin: 0;
  padding: 1rem 1rem 1rem 2rem;
  position: relative;
  cursor: pointer; }
  label.form-checkbox input,
  label.form-radio input {
    position: absolute;
    top: 1.425rem;
    left: 0.5rem; }
  label.form-checkbox .field-description,
  label.form-radio .field-description {
    padding: 0 1rem 0 0;
    line-height: 1.5rem; }

fieldset {
  margin: 3rem 0 1.5rem;
  position: relative;
  display: block; }
  fieldset legend {
    position: absolute;
    top: -1.5rem; }
  fieldset.has-checkboxes, fieldset.has-radios {
    padding: 1rem 0.5rem; }
    fieldset.has-checkboxes label.form-checkbox,
    fieldset.has-checkboxes label.form-radio, fieldset.has-radios label.form-checkbox,
    fieldset.has-radios label.form-radio {
      display: inline-block;
      float: left;
      clear: left; }
    fieldset.has-checkboxes.has-inline-fields label, fieldset.has-radios.has-inline-fields label {
      width: 50%;
      clear: none; }

button,
.button,
.button-primary {
  background: #3a4249;
  color: #fff;
  border-radius: 13px;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-style: normal;
  display: inline-block; }
  button:hover,
  .button:hover,
  .button-primary:hover, button:focus,
  .button:focus,
  .button-primary:focus {
    color: #fff;
    background: #181c1f; }

.button-primary {
  color: #fff;
  background: #148744; }
  .button-primary:hover, .button-primary:focus {
    background: #0a4422; }

.has-buttons button + button,
.has-buttons .button + button,
.has-buttons .button-primary + button,
.has-buttons button + .button,
.has-buttons .button + .button,
.has-buttons .button-primary + .button,
.has-buttons button + .button-primary,
.has-buttons .button + .button-primary,
.has-buttons .button-primary + .button-primary {
  margin: 0 0 0 1rem; }
.has-buttons.right {
  text-align: right; }
.has-buttons.stacked button,
.has-buttons.stacked .button,
.has-buttons.stacked .button-primary {
  float: left;
  clear: left; }
  .has-buttons.stacked button + button,
  .has-buttons.stacked .button + button,
  .has-buttons.stacked .button-primary + button,
  .has-buttons.stacked button + .button,
  .has-buttons.stacked .button + .button,
  .has-buttons.stacked .button-primary + .button,
  .has-buttons.stacked button + .button-primary,
  .has-buttons.stacked .button + .button-primary,
  .has-buttons.stacked .button-primary + .button-primary {
    margin: 1.5rem 0 0; }

.search-form {
  vertical-align: baseline;
  position: relative;
  display: inline-block; }
  .search-form > * {
    display: inline-block;
    margin: 0 0.5rem; }
  .search-form label.form-text input[type="search"] {
    margin-right: 1rem;
    padding: 1rem 0.75rem;
    font-family: "Lato", sans-serif; }
  .search-form button.form-submit {
    font-family: "FontAwesome", serif;
    color: #5c6874;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    margin: 0;
    padding: 0.7rem 1rem;
    background: none;
    height: 100%;
    width: 4rem;
    text-align: center;
    z-index: 5; }
    .search-form button.form-submit:focus, .search-form button.form-submit:hover {
      color: #3a4249; }

.page-header,
.page-footer {
  padding: 1rem; }

.page-header {
  vertical-align: baseline; }
  .page-header > * {
    display: inline-block;
    margin: 0 0.5rem; }

.has-swatches {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .has-swatches .swatch {
    width: calc(25% - 1.5rem);
    flex: 0 0 auto;
    margin: 0.75rem; }

.swatch {
  padding: 0;
  border: 1px solid #d9d9d9;
  height: 14rem; }
  .swatch::before {
    display: block;
    padding: 1rem;
    background: #fff;
    border-bottom: 1px solid #d9d9d9;
    font-size: 0.866rem;
    white-space: pre; }
  .swatch.brand-colors--grey {
    background-color: #5c6874; }
    .swatch.brand-colors--grey::before {
      content: "grey: \a#5c6874"; }
  .swatch.brand-colors--grey-dark {
    background-color: #3a4249; }
    .swatch.brand-colors--grey-dark::before {
      content: "grey-dark: \a#3a4249"; }
  .swatch.brand-colors--grey-light {
    background-color: #e5e8ea; }
    .swatch.brand-colors--grey-light::before {
      content: "grey-light: \a#e5e8ea"; }
  .swatch.brand-colors--accent-blue {
    background-color: #334dae; }
    .swatch.brand-colors--accent-blue::before {
      content: "accent-blue: \a#334dae"; }
  .swatch.brand-colors--accent-dark-green {
    background-color: #148744; }
    .swatch.brand-colors--accent-dark-green::before {
      content: "accent-dark-green: \a#148744"; }
  .swatch.font-colors--primary {
    background-color: #3a4249; }
    .swatch.font-colors--primary::before {
      content: "primary: \a#3a4249"; }
  .swatch.font-colors--secondary {
    background-color: #5c6874; }
    .swatch.font-colors--secondary::before {
      content: "secondary: \a#5c6874"; }
  .swatch.font-colors--tertiary {
    background-color: #e5e8ea; }
    .swatch.font-colors--tertiary::before {
      content: "tertiary: \a#e5e8ea"; }
  .swatch.font-colors--link {
    background-color: #148744; }
    .swatch.font-colors--link::before {
      content: "link: \a#148744"; }
  .swatch.font-colors--link-hover {
    background-color: #0d5b2e; }
    .swatch.font-colors--link-hover::before {
      content: "link-hover: \a#0d5b2e"; }
  .swatch.font-colors--link-focus {
    background-color: #0d5b2e; }
    .swatch.font-colors--link-focus::before {
      content: "link-focus: \a#0d5b2e"; }
  .swatch.background-colors--primary {
    background-color: #fff; }
    .swatch.background-colors--primary::before {
      content: "primary: \a#fff"; }
  .swatch.background-colors--secondary {
    background-color: #e5e8ea; }
    .swatch.background-colors--secondary::before {
      content: "secondary: \a#e5e8ea"; }
  .swatch.background-colors--tertiary {
    background-color: #5c6874; }
    .swatch.background-colors--tertiary::before {
      content: "tertiary: \a#5c6874"; }
  .swatch.panel-colors--primary {
    background-color: #f2f2f2; }
    .swatch.panel-colors--primary::before {
      content: "primary: \a#f2f2f2"; }
  .swatch.panel-colors--secondary {
    background-color: #d7dbdf; }
    .swatch.panel-colors--secondary::before {
      content: "secondary: \a#d7dbdf"; }
  .swatch.panel-colors--tertiary {
    background-color: #515b66; }
    .swatch.panel-colors--tertiary::before {
      content: "tertiary: \a#515b66"; }
  .swatch.border-colors--primary {
    background-color: #d9d9d9; }
    .swatch.border-colors--primary::before {
      content: "primary: \a#d9d9d9"; }
  .swatch.border-colors--secondary {
    background-color: #bac1c8; }
    .swatch.border-colors--secondary::before {
      content: "secondary: \a#bac1c8"; }
  .swatch.border-colors--tertiary {
    background-color: #3a4249; }
    .swatch.border-colors--tertiary::before {
      content: "tertiary: \a#3a4249"; }
  .swatch.button-colors--font-color {
    background-color: #fff; }
    .swatch.button-colors--font-color::before {
      content: "font-color: \a#fff"; }
  .swatch.button-colors--background {
    background-color: #3a4249; }
    .swatch.button-colors--background::before {
      content: "background: \a#3a4249"; }
  .swatch.button-colors--background-hover {
    background-color: #181c1f; }
    .swatch.button-colors--background-hover::before {
      content: "background-hover: \a#181c1f"; }
  .swatch.button-colors--primary-font-color {
    background-color: #fff; }
    .swatch.button-colors--primary-font-color::before {
      content: "primary-font-color: \a#fff"; }
  .swatch.button-colors--primary-background {
    background-color: #148744; }
    .swatch.button-colors--primary-background::before {
      content: "primary-background: \a#148744"; }
  .swatch.button-colors--primary-background-hover {
    background-color: #0a4422; }
    .swatch.button-colors--primary-background-hover::before {
      content: "primary-background-hover: \a#0a4422"; }

.kss-section {
  padding: 1rem; }
  .kss-section > * {
    margin-bottom: 1.5rem; }
  .kss-section .kss-header {
    padding: 1rem 0; }
    .kss-section .kss-header small {
      display: block;
      font-size: 0.866rem; }
    .kss-section .kss-header dl {
      margin: 1rem 0 0; }
    .kss-section .kss-header dt, .kss-section .kss-header dd {
      margin: 0;
      display: inline-block; }
    .kss-section .kss-header dd {
      font-weight: 600;
      padding: 0 0.5rem; }
    .kss-section .kss-header dd + dt {
      margin-left: 1rem; }
  .kss-section h1, .kss-section h2, .kss-section h3, .kss-section h4, .kss-section h5, .kss-section h6 {
    margin: 1rem 0; }
  .kss-section .pattern-type {
    display: inline-block;
    text-transform: capitalize; }
    .kss-section .pattern-type::before {
      display: inline-block;
      font-weight: 300;
      padding: 0 0.5rem 0 0;
      font-family: "FontAwesome", serif;
      color: #5c6874; }
    .kss-section .pattern-type.atom::before {
      content: "\f0c8"; }
    .kss-section .pattern-type.molecule::before {
      content: "\f009"; }
    .kss-section .pattern-type.organism::before {
      content: "\f00a"; }

.kss-sidebar {
  background: #f2f2f2;
  border-right: 1px solid #d9d9d9; }

.kss-style code,
.kss-style pre {
  background: none; }
  .kss-style code li,
  .kss-style pre li {
    margin: 0; }

/*# sourceMappingURL=main-dev.css.map */
