
// ====== Brand/Site-Specific Colors====== //
//
// Brand-specific, color-named variabless belong here. They
// should never move past this file if it can be helped, though;
// rather, make a role/context based variable and assign the brand-
// specific value here instead.
//
// For example:
//
// Correct:
// $company-blue: #002299; // set the hex
// $font-link-color: $company-blue; // use the hex
//
// a { color: $font-link-color; } // use elsewhere across your stylesheets
//
// This way, if links need to change to, say, orange, you don't have
// a misleading variable name scattered throughout your code, but you
// also aren't left wondering "which one was the blue one again?"
// because you can reference this file for the initial value.
//
// It can also be valuable to have general variables to be used later
// to leverage the benefits of what is outlined above while still having
// general variables to use elsewhere in the file:
//
// Correct:
// $company-blue: #002299; // set the hex
// $company-action-color: $company-blue; // use the hex
// $font-link-color: $company-action-color; // use the general brand name 
//
// a { color: $font-link-color; } // use elsewhere across your stylesheets
//
// This makes things a little more readable, but use what works best for you.
// The important things is to keep any brand- or company-specific variable
// names in variable files only.





// Site Colors
// 
// Markup: swatches_site.html
//
// HideMarkup: true
//
// Styleguide 1.1


$site-red: (
	'base': #df1e36,
	'light': lighten(#df1e36, 20%),
	'dark': darken(#df1e36, 10%)
	);
$site-blue: (
	'base': #072736,
	'light': #1F5363,
	'dark': #041c25
	);

$site-grey: (
	'base': #666,
	'light': #898989,
	'dark': #333
);

$site-colors: (
	'red' : $site-red,
	'blue' : $site-blue,
	'grey': $site-grey,
);

$site-action-color: map-get($site-red, 'base');
$site-action-color-active: map-get($site-red, 'dark');
$site-action-color-background: darken($site-action-color, 6%);

// Use for descriptive content that is not in and of itself actionable.
$site-accent-color: map-get($site-blue, 'base');




// ====== General Color Assignments ====== //



// Font Colors
//
// Markup: swatches_font.html
//
// HideMarkup: true
//
// Styleguide 1.2

$font-color-primary: map-get($site-grey, 'base');
$font-color-secondary: map-get($site-grey, 'light');
$font-color-tertiary: map-get($site-grey, 'dark');

$font-color-link: $site-action-color;
$font-color-link-hover: $site-action-color;
$font-color-link-focus: $site-action-color;

$title-font-color-primary: $font-color-secondary;
$title-font-color-secondary: $font-color-secondary;
$title-font-color-tertiary: $font-color-tertiary;

$font-colors: (
	"primary": $font-color-primary,
	"secondary": $font-color-secondary,
	"tertiary": $font-color-tertiary,
	"link": $font-color-link,
	"link-hover": $font-color-link-hover,
	"link-focus": $font-color-link-focus
);

$title-colors: (
	"primary": $title-font-color-primary,
	"secondary": $title-font-color-secondary,
	"tertiary": $title-font-color-tertiary
);



// ====== Block Level Elements ====== //

// Background Colors
//
// Panel colors are currently set up to be slight variants of the base
// background colors.
//
// Markup: swatches_block-elements.html
//
// HideMarkup: true
//
// __Styleguide 1.3

$background-color-primary: #fff;
$background-color-secondary: map-get($site-blue, 'dark');
$background-color-tertiary: map-get($site-grey, 'base');

$background-colors: (
	"primary": $background-color-primary,
	"secondary": $background-color-secondary,
	"tertiary": $background-color-tertiary
);

$panel-background-primary: darken($background-color-primary, 7%);
$panel-background-secondary: darken($background-color-secondary, 7%);
$panel-background-tertiary: darken($background-color-tertiary, 7%);

/* the lightest hex that passes AA on #E7E7E7/$panel-background-primary */
$panel-font-color: $font-color-primary;
$panel-font-color-secondary: $font-color-secondary;
$panel-font-color-tertiary: #FFF;  // passes on $panel-background-tertiary
$font-color-placeholder: $panel-font-color;

$panel-colors: (
	"primary": $panel-background-primary,
	"secondary": $panel-background-secondary,
	"tertiary": $panel-background-tertiary,
	"font-color": $panel-font-color
);

// Borders
//
// Markup: swatches_borders.html
//
// HideMarkup: true
//
// __Styleguide 1.4

$border-color-primary: darken($background-color-primary, 20%);
$border-color-secondary: darken($background-color-secondary, 20%);

$border-colors: (
	"primary": $border-color-primary,
	"secondary": $border-color-secondary,
	"accent": $site-accent-color
);


// Button Colors
//
// Markup: swatches_buttons.html
//
// HideMarkup: true
//
// Styleguide 1.5

$button-font-color: #fff;
$button-background: map-get($site-grey, 'base');
$button-background-hover: map-get($site-grey, 'dark');

$button-primary-font-color: #fff;
$button-primary-background: $site-action-color-background;
$button-primary-background-hover: $site-action-color-active;

$button-colors: (
	"font-color": $button-font-color,
	"background": $button-background,
	"background-hover": $button-background-hover,
	"primary-font-color": $button-primary-font-color,
	"primary-background": $button-primary-background,
	"primary-background-hover": $button-primary-background-hover
);



// Form Colors
//
// Markup: swatches_form.html
//
// HideMarkup: true

$form-color-error: map-get($site-red, 'base');
$form-color-error-background: map-get($site-red, 'base');
$form-color-success: map-get($site-blue, 'base');
$form-color-success-background: $site-action-color-background;
$form-color-status: map-get($site-blue, 'base');
$form-color-status-background: map-get($site-blue, 'base');

$form-input-background: #efefef;
$form-input-background-active: #fff;

// === Checkboxes/Radios === //

$selector-color-unchecked: map-get($site-grey, 'base');
$selector-color-checked: $site-action-color;






// ====== Organization & Styleguide Use ====== //
//
// Sets of colors should be grouped into a Color Set as follows:
//
// $color-set-name (
//   primary: $color-primary,
//   secondary: $color-secondary
// );
//
// These should all then be added to the Color Sets Object below.
//
// Swatches will be created for the styleguide with the following class 
// naming convention:
//
// .[color set name]--[variable name]
//
// So a color in the $font-colors set with the name `primary` will end up
// with the class name `.font-colors--primary`

$color-sets: (
	"site-red": $site-red,
	"site-blue": $site-blue,
	"site-grey": $site-grey,
	"font": $font-colors,
	"titles": $title-colors,
	"background": $background-colors,
	"panel": $panel-colors,
	"border": $border-colors,
	"button": $button-colors
);