// ====== Brand/Site-Specific ====== //

// Brand-specific, color-named vars belong here. Those names/variables
// should never move past this file if it can be helped, though;
// rather, make a role/context based variable and assign the brand-
// specific value here instead.
//
// For example:
//
// Correct:
// $company-blue: #002299; // set the hex
// $font-link-color: $company-blue; // use the hex
//
// a { color: $font-link-color; }
//
// This way, if links need to change to, say, orange, you don't have
// a misleading variable name scattered throughout your code, but you
// also aren't left wondering "which one was the blue one again?"
// because you can reference this file for the initial value.
//
// It can also be valuable to have general variables to be used later
// to leverage the benefits of what is outlined above while still having
// general variables to use elsewhere in the file:
//
// Correct:
// $company-blue: #002299; // set the hex
// $company-action-color: $company-blue; // use the hex
// $font-link-color: $company-action-color; // use the general variable name 
//
// a { color: $font-link-color; }
//
// This makes things a little more readable, but use what works best for you.
// The important things is to keep any brand- or company-specific variable
// names in this folder only.

// === Fonts === //

$font-family-pt-serif: 'PT Serif', serif;
$font-family-lato: 'Lato', sans-serif;
$font-family-icon: 'FontAwesome', serif;



// ====== Typography ====== //

$font-decoration-link: none;
$font-decoration-link-hover: underline;
$font-decoration-link-focus: $font-decoration-link-hover;

$font-family-primary: $font-family-pt-serif;
$font-family-secondary: $font-family-lato;

$titles-font-family-primary: $font-family-lato;
$titles-family-secondary: $font-family-lato;

$font-size-primary: 16px;
$font-size-secondary: 13px;
$font-size-tertiary: 11px;

$line-spacing-primary: 1.6rem;



// ====== Form Elements ====== //

// === Buttons === //

$button-font-primary: $font-family-secondary;
