
// ====== Borders ====== //

$border-width-primary: 1px;
$border-width-secondary: 2px;
$border-width-tertiary: 4px;

$border-radius-primary: 13px;
$border-radius-secondary: 6px;



// ====== Spacing ====== //

$spacing-outer: 3rem; // eg. space between sections of content
$spacing-inner: 1.5rem; // eg. space between siblings within a section
$spacing-mobile: 2rem; // spacing between touchable mobile elements



// === Breakpoints === //

$screen-micro: 530px;
$screen-small: 680px;
$screen-medium: 940px;
$screen-large: 1300px;



// ===== Copy ===== //

$max-copy-width: 55rem;