
// ====== Borders ====== //

$border-width-primary: 1px;
$border-width-secondary: 2px;
$border-width-tertiary: 4px;

$border-radius-primary: 13px;
$border-radius-secondary: 6px;



// ====== Spacing ====== //

$spacing-outer: 2rem; // eg. space between sections of content
$spacing-inner: 1rem; // eg. space between siblings within a section
$spacing-mobile: 2rem; // spacing between touchable mobile elements



// === Breakpoints === //

$screen-small: 30rem;
$screen-medium: 60rem;
$screen-large: 90rem;
