
.kss-style pre,
.kss-style code,
.kss-style kbd,
.kss-style samp{ font-family:Menlo, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace; font-size:1em}
.kss-style pre{white-space:pre;overflow:scroll}
.kss-style ins{color:#111;background:#ff9;text-decoration:none}
.kss-style mark{color:#111;background:#ff0;font-weight:bold}
.kss-style sub,
.kss-style sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
.kss-style sup{top:-0.5em}
.kss-style sub{bottom:-0.25em}
.kss-style ul,
.kss-style ol{margin:24px 0;padding:0 0 0 24px}
.kss-style li p:last-child{margin:0}
.kss-style dd{margin:0 0 0 24px}
.kss-style img{max-width:100%;border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}
.kss-style table{border-collapse:collapse;border-spacing:0}
.kss-style td{vertical-align:top}

@media screen and (min-width:769px){#kss-node{padding:0;background:#fff}
#kss-node .kss-main,
#kss-node .kss-sidebar{float:left;margin-right:-100%;box-sizing:border-box}
}
#kss-node .kss-main{width:100%;margin:0 auto}
@media screen and (min-width:769px){#kss-node .kss-main{width:80%;margin-left:20%;padding:0 20px 0 30px}
}
@media screen and (min-width:769px){#kss-node .kss-sidebar{position:fixed;width:20%;height:100%;overflow:auto;padding:0 1.5em;border-bottom:0; }
}
#kss-node .kss-doc-title{margin:0}
@media screen and (min-width:769px){
	#kss-node .kss-nav{margin-top:2em}
}
#kss-node .kss-nav__menu{
	margin:12px 0;
	padding:0;
	list-style-type:none
}

@media screen and (min-width:769px){#kss-node .kss-nav__menu-item{display:list-item;padding-right:0}
}
#kss-node .kss-nav__menu-child{display:none}
@media screen and (min-width:769px){#kss-node .kss-nav__menu-child{display:block;list-style-type:none;margin:0;padding:0}
#kss-node .kss-nav__menu-child {
	margin:10px 0;
}

#kss-node .kss-nav__ref:after{content:' '}
#kss-node .kss-nav__ref-child{font-weight:normal}
#kss-node .kss-section{max-width:100%;margin-bottom:48px}

@media screen and (min-width:607px){
	#kss-node .kss-title__permalink:hover .kss-title__permalink-hash,
	#kss-node .kss-title__permalink:focus .kss-title__permalink-hash,
	#kss-node .kss-title__permalink:active .kss-title__permalink-hash{display:inline}
}
#kss-node .kss-parameters{display:table;list-style-type:none;margin-left:0;padding-left:0}
#kss-node .kss-parameters__item{display:table-row}
#kss-node .kss-parameters__name{display:table-cell;padding-right:20px}
#kss-node .kss-parameters__description{display:table-cell}
#kss-node .kss-modifier__wrapper{padding:10px}
#kss-node .kss-modifier__heading{margin:-10px -10px 10px -10px;padding:10px;border-bottom:1px solid #ccc;background-color:#eee;font-weight:bold}
#kss-node .kss-modifier__default-name{font-weight:bold;margin-bottom:12px}
#kss-node .kss-modifier__name{float:left;padding-right:10px;font-weight:bold}
#kss-node .kss-modifier__description{margin-bottom:12px}
#kss-node .kss-modifier__example{clear:left;padding:1px 0;position:relative;margin:0 0 23px 0}
#kss-node .kss-modifier__example:last-child{margin:0}
#kss-node .kss-markup{margin:-1px 0 24px 0;border:1px solid #999; max-height: 10rem; overflow-x:scroll;}
#kss-node .kss-markup pre{margin:0}
#kss-node .kss-github{display:none}
@media screen and (min-width:501px){#kss-node .kss-github{display:block;position:absolute;top:0;right:0}
}
#kss-node .kss-github img{border:0}
#kss-node .pln{color:#000}
#kss-node .str{color:#080}
#kss-node .kwd{color:#008}
#kss-node .com{color:#800}
#kss-node .typ{color:#606}
#kss-node .lit{color:#066}
#kss-node .pun,
#kss-node .opn,
#kss-node .clo{color:#660}
#kss-node .tag{color:#008}
#kss-node .atn{color:#606}
#kss-node .atv{color:#080}
#kss-node .dec,
#kss-node .var{color:#606}
#kss-node .fun{color:red}
#kss-node ol.linenums{margin:0;padding:0 0 3px 0;list-style-type:none}
#kss-node ol.linenums li{min-height:24px;border-bottom:1px solid #eee;padding:0 10px;background:#fff}
#kss-node ol.linenums li:first-child{padding-top:3px}
#kss-node ol.linenums li.L0,
#kss-node ol.linenums li.L2,
#kss-node ol.linenums li.L4,
#kss-node ol.linenums li.L6,
#kss-node ol.linenums li.L8{background:#fcfcfc}

