
.kss-style pre,
.kss-style code,
.kss-style kbd,
.kss-style samp{ font-family:Menlo, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace; font-size:1em}
.kss-style pre{white-space:pre;overflow:scroll}

#kss-node .kss-markup{margin:-1px 0 24px 0;border:1px solid #999; max-height: 10rem; overflow-x:scroll;}
#kss-node .kss-markup pre{margin:0}
#kss-node .kss-github{display:none}
@media screen and (min-width:501px){#kss-node .kss-github{display:block;position:absolute;top:0;right:0}
}
#kss-node .kss-github img{border:0}
#kss-node ol.linenums{margin:0;padding:0 0 3px 0;list-style-type:none}
#kss-node ol.linenums li{min-height:24px;border-bottom:1px solid #eee;padding:0 10px;background:#fff}
#kss-node ol.linenums li:first-child{padding-top:3px}
#kss-node ol.linenums li.L0,
#kss-node ol.linenums li.L2,
#kss-node ol.linenums li.L4,
#kss-node ol.linenums li.L6,
#kss-node ol.linenums li.L8{background:#fcfcfc}

