/*
Example Color Swatches

Markup: swatches_example.html

Styleguide 1.0
*/

$colorset-1: (
  'base': #072736,
  'light': #1F5363,
  'dark': #041c25
);

$colorset-2: (
  'base': #df1e36,
  'light': lighten(#df1e36, 20%),
  'dark': darken(#df1e36, 10%)
);

$kss-color-sets: (
  'Brand Blues': $colorset-1,
  'Brand Reds': $colorset-2
);

/*
Example Other Pattern

Markup: <h1>Shrugging Man Emoji</h1>

Status: review

PatternType: atom

Styleguide 2.0
*/