@charset "UTF-8";

@debug 'Building CSS for Styleguide.';

@import 'mixins-flexbox';
@import 'mixins-styleguide';
@import 'kss';





// Full Page
//
// For cases where a full page with no styleguide information should be displayed.
// TODO: Sort out how to load a different handlebars template with no styleguide CSS in place instead

#kss-node.full-page {

  .kss-style {
    display: none;
  }

  .kss-main,
  .kss-main.has-status-toggle {
    margin: 0;
    border: none;
    padding: 0;
  }

  .kss-section,
  .kss-modifier__wrapper,
  .kss-modifier__example {
    margin: 0;
    padding: 0;
  }

  #width-marker,
  .kss-status-bar {
    display: none;
  }
}




// Any styleguide-specific documentation or comments should go here.

// Colors, Fonts and Icons
//
// Styleguide 1.0