
@import '../main';

// Output background/swatch classes for all color variables
@mixin make-swatches($color-sets) {

	@each $color-set-name, $color-set in $color-sets {

		@each $name, $value in $color-set {
			
			&.#{$color-set-name}-colors--#{$name} {
				
				.dot {
					background-color: $value;
					border: 1px solid darken($value, 10%);
				}
				&::after {
					content: "#{$name}: \a #{$value}";
				}

			}

		}

	}
	
}

.has-swatches {

	@include flexbox;
	@include justify-content(flex-start);
	@include flex-wrap(wrap);
	list-style-type: none;
	margin: 0;
	padding: 0;

	.swatch {
		width: calc(25% - 1.5rem);
		flex: 0 0 auto;
		margin: 0.75rem;
	}

}

.swatch {

	padding: 0;
	text-align: center;

	.dot {

		display: block;
		border-radius: 100%;
		height: 15rem;
		width: 15rem;
		margin: $spacing-inner auto;

	}

	&::after {
		margin: $spacing-inner auto;
		display: block;
		padding: $spacing-inner;
		background: $background-color-primary;
		font-size: $font-size-secondary;
		white-space: pre;
	}

	@include make-swatches($color-sets);

}

.navigation-site .menu ul {
	@include flexbox();
	@include flex-flow(row nowrap);
	@include width-capped();
	background: $panel-background-primary;
	border-top: $border-width-primary dotted $border-color-primary;
	position: absolute;
	left: 0;
	top: 100%;
}



// ====== Styleguide Presentation Classes ====== //

.kss-section{

	padding: $spacing-inner;

	& > * {
		margin-bottom: $spacing-outer;
	}
	
	.kss-header {

		padding: $spacing-inner 0;

		small {
			display: block;
			font-size: $font-size-secondary;
		}
		%title {
			margin-top: 0;
		}

		dl {
			margin: $spacing-inner 0 0;
		}

		dt, dd {
			margin: 0;
			display: inline-block;
		}

		dd {
			font-weight: $font-weight-bold;
			padding: 0 $spacing-inner/2;
		}

		dd + dt {
			margin-left: $spacing-inner;
		}

	}

	.kss-title {
		margin: $spacing-inner 0;
	}

	.pattern-type {

		display: inline-block;
		text-transform: capitalize;

		&::before {

			display: inline-block;
			font-weight: $font-weight-normal;
			padding: 0 $spacing-inner/2 0 0;
			font-family: $font-family-icon;
			color: $font-color-secondary;

		}

		&.atom {
			&::before {
				content: "\f0c8";
			}
		}

		&.molecule {
			&::before {
				content: "\f009";
			}
		}

		&.organism {
			&::before {
				content: "\f00a";
			}
		}

		&.template {
			&::before {
				content: "\f0db";
			}
		}

		&.page {
			&::before {
				content: "\f15b";
			}
		}

	}

}

.kss-sidebar {
	background: $panel-background-primary;
	border-right: 1px solid $border-color-primary;
}

.kss-style {
	code,
	pre {
		background: none;
		li {
			margin: 0;
		}
	}

}
