
@import '../main';

// Output background/swatch classes for all color variables
@mixin make-swatches($color-sets) {

	$i: 0;

	@each $color-set-name, $color-set in $color-sets {

		@each $name, $value in $color-set {

			$i: $i + 1;

			$red: red($value);
			$green: green($value);
			$blue: blue($value);
			
			&.#{$color-set-name}--#{$name} {
				
				.dot {
					background-color: $value;
					border: 1px solid darken($value, 10%);
				}
				
				&::before {
					content: "#{$name} <br /> #{$value} / rgb(#{$red}, #{$green}, #{$blue})";
				}

			}

		}

	}
	
}

.has-swatches {

	@include flexbox;
	@include justify-content(space-between);
	@include flex-wrap(wrap);
	list-style-type: none;
	margin: 0;
	padding: 0;

	.swatch {
		@include flexbox;
		@include flex-direction(column);
		flex: 1;
		margin: 1rem 0;

	}

}



.swatch {

	padding: 0;
	text-align: center;
	font-family: $font-family-secondary;
	font-size: $font-size-secondary;

	.dot {

		display: block;
		height: 6rem;
		width: 100%;
		margin: $spacing-inner auto;

	}

	&::before,
	&::after {
		visibility: hidden;
	}

	@include make-swatches($color-sets);

}

.navigation-site .menu ul {
	@include flexbox();
	@include flex-flow(row nowrap);
	@include width-capped();
	width: 100%;
	background: $panel-background-primary;
	border-top: $border-width-primary dotted $border-color-primary;
	position: absolute;
	left: 0;
	top: 100%;
}

.table-of-contents {
	@include flexbox();
	@include flex-direction(column);
	@include flex-wrap(wrap);
	max-height: 14rem;
}

// Markup and Display Example Titles
.title-5.has-border--primary--bottom {
	margin-top: $spacing-outer;
}



// ====== Styleguide Presentation Classes ====== //

.pattern-info {
	&,
	dt,
	dd {
		margin-top: 0;
		margin-bottom: 0;
		display: inline-block;
	}
}

.pattern-type {

	display: inline-block;
	text-transform: capitalize;

	&::before {

		display: inline-block;
		font-weight: 300;
		padding: 0 $spacing-inner/2 0 0;
		font-family: $font-family-icon;
		color: $font-color-secondary;

	}

	&.atom {
		&::before {
			content: "\f0c8";
		}
	}

	&.molecule {
		&::before {
			content: "\f009";
		}
	}

	&.organism {
		&::before {
			content: "\f00a";
		}
	}

	&.template {
		&::before {
			content: "\f0db";
		}
	}

	&.page {
		&::before {
			content: "\f15b";
		}
	}

}

.kss-style {
	code,
	pre {
		background: none;
		li {
			margin: 0;
		}
	}

}




// Large copy example
//
// Markup: typography.html
//
// HideMarkup: true
//
// Styleguide 2.1000