// ====== Brand/Site-Specific ====== //


// ====== Typography ====== //

$font-decoration-link: underline;
$font-decoration-link-hover: none;
$font-decoration-link-focus: $font-decoration-link-hover;

$font-family-primary: Verdana, sans-serif;
$font-family-secondary: serif;

$title-font-family-primary: $font-family-secondary;
$title-font-family-secondary: $font-family-primary;

$font-size-primary: 18px;
$font-size-secondary: 15px;
$font-size-tertiary: 12px;

$line-height-primary: 1.5rem;

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;