// Forms
//
// Styleguide 3.10

form {
  padding: $spacing-inner 0;
  margin-bottom: $spacing-outer;
}



// Inline Form 
//
// Markup:
// <form class="has-inline-elements">
//   <label for="inline-form-text-input-1" class="form-text">
//     <span id="inline-form-description-1" class="field-title">Input Description</span>
//     <input id="inline-form-text-input-1" name="inline-form-text-input-1" aria-labelledby="inline-form-description-1" type="text" title="Input Description" value="" />
//   </label>
//   <label class="form-checkbox" for="inline-form-checkbox-1">
//     <input type="checkbox" id="inline-form-checkbox-1" name="inline-form-checkbox-1" aria-labelledby="inline-form-checkbox-desc-1" value="val2" />
//     <i role="presentation"></i>
//     <span id="inline-form-checkbox-desc-1" class="field-title">Checkbox Value</span>
//   </label>
//   <button type="submit">submit</button>
// </form>
//
// PatternType: molecule
//
// Styleguide 3.10.1

// Basic Form
//
// Simple form showing every form element type in one place.
//
// Markup: form_basic.html
//
// PatternType: molecule
//
// Styleguide 3.10.2

form {
  
  max-width: 40rem;

  label {

    margin-bottom: $spacing-inner;
    display: block;

    %form-field {
      display: block;
    }
  }

  .has-buttons {
    margin-top: 0;
  }

  &.has-inline-elements {
    max-width: none;
  }

}

// Search Form
//
// Markup:
// <form class="search-form">
//   <label class="form-text">
//     <input placeholder="Enter a search term." type="search" />
//   </label>
//   <button value="search" type="submit"></button>
// </form>
//
// PatternType: molecule
//
// ContainsPatterns: Button, Input (Search)
//
// __Styleguide 3.3.5

.search-form {
  
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0;

  label {
    margin: 0;
  }

  .form-text,
  button.form-submit {
    display: inline-block;
    white-space: normal;
  }

  .form-text {

    input[type="search"] {
      
      padding: 1rem 0.75rem;
      font-family: $font-family-secondary;

    }

  }

  button {

    border: none;
    margin:0;
    background: none;
    height:100%;
    text-align: center;
    position: absolute;
    right: 0;
    top:0;
    z-index: 5;
    padding: 1rem;
    transition: 0.25s;

    &::after {
      font-family: $font-family-icon;
      color: $font-color-secondary;
      content: "\f002";
    }

    &:focus,
    &:hover {
      text-decoration: none;
      background: $panel-background-tertiary;
      &::after {
        color: $font-color-tertiary;
      }
    }
  }

}