
// Menus
//
// Styleguide 20

// Breadcrumb Navigation
//
// Markup:
// <ul class="has-breadcrumbs">
//   <li class="breadcrumb"><a href="">Home</a></li>
//   <li class="breadcrumb"><a href="">Level 1</a></li>
//   <li class="breadcrumb">Level 2</li>
// </ul>
//
// PatternType: molecule
//
// ContainsPatterns: Links
//
// Styleguide 20.1

.breadcrumb {
	
	margin: 0;
	padding: $spacing-inner 0;
	
	& + .breadcrumb {
	
		padding-left: 0;
	
		&::before {
			content: "/";
			padding: $spacing-inner;
		}

	}
}

.has-breadcrumbs {
	
	list-style-type: none;
	margin: $spacing-outer 0;
	padding: 0;
	
	.breadcrumb {
		display: inline-block;
	}

}


// Main Navigation
//
// <nav class="navigation-site">
// <ul class="menu has-menu-items">
//   <li class="menu-item"><a href="">Home</a></li>
//   <li class="menu-item"><a href="">Page 1</a></li>
//   <li class="menu-item"><a href="">Page 2</a></li>
// </ul>
// </nav>
//
// Styleguide 20.1


.navigation-site {

	margin: 0 0 $spacing-outer;
	padding: 0;
	background: $panel-background-primary;
	position: relative;

	.has-menu-items {
		margin: 0;
		padding: 0;
		position: relative;
	}

	& > .menu {
		@include width-capped();
		@include flexbox();
		@include flex-flow(row nowrap);
		margin: 0 auto;
		font-size: $font-size-secondary;
		&,
		ul {
			list-style-type: none;
		}
	}
}