
// Page-Level Containers
//
// __Styleguide 10

.page-header,
.page-main,
.page-footer {
	padding: $spacing-inner;
}


// Page-Level Header
//
// Markup: page_header.html
//
// PatternType: organism
//
// ContainsPatterns: Logo, Search Form, Navigation Menu
//
// __Styleguide 10.1

.page-header {
	
	@include flexbox();
	@include justify-content(space-between);
	@include align-items(center);
	color: #fff;
	padding: $spacing-outer;

	%titles {
		margin: 0;
		color: #fff;
	}

}

.page-main {
	@include width-capped();
	margin: 0 auto;
}


// Page-Level Footer
//
// Markup: page_footer.html
//
// PatternType: organism
//
// ContainsPatterns: Logo, Navigation Menu
//
// __Styleguide 10.2

.page-footer {
	padding: $spacing-outer;
}