
// Page-Level Containers
//
// Styleguide 10

.page-header,
.page-footer {
	padding: $spacing-inner;
}


// Page-Level Header
//
// Markup: page_header.html
//
// PatternType: organism
//
// ContainsPatterns: Logo, Search Form, Navigation Menu
//
// Styleguide 10.1

.page-header {
	
	@include flexbox();
	@include justify-content(space-between);
	@include align-items(center);
	padding: $spacing-outer;
	background: $panel-background-secondary;

	%titles {
		margin: 0;
	}

}


// Page-Level Footer
//
// Markup: page_footer.html
//
// PatternType: organism
//
// ContainsPatterns: Logo, Navigation Menu
//
// Styleguide 10.2

.page-footer {
	padding: $spacing-outer;
	color: $font-color-tertiary;
	background: $panel-background-tertiary;
}