

//	Base HTML Elements

html {
	font: $font-weight-normal $font-size-primary $font-family-primary;
}

* {
	box-sizing: border-box;
}

body {
  color: $font-color-primary;
  font-family: $font-family-primary;
  background: $background-color-primary;
}

hr {
	border: none;
	border-bottom: $border-width-primary solid $border-color-primary;
	margin: $spacing-outer 0;
}





/*
Typography

All text should pass [WCAG 2.0 AA standards](https://www.w3.org/WAI/WCAG20/quickref/) for contrast.

Styleguide 2
*/



// Titles
//
// **QUESTION:** `Titles should always be [case needed] and [contain/not contain] ending punctuation.`
//
// Devnotes: Every heading has an equivalent `.title-[#]` class that corresponds to its
// styles. This allows for HTML present to always be semantic, even if it needs
// to be rendered in a way that's tied to a different heading. For example, if you needed
// an H3 tag to look like an H1, rather than putting an H1 where it didn't belong, you could use
// `<h3 class="title-1">Title</h3>` to achieve the desired look.
//
// Markup: titles.html
//
// Hidemarkup: true
//
// Styleguide 2.2

%titles {

	color: $title-font-color-primary;
	font-family: $title-font-family-primary;
	margin: 0 0 $spacing-inner 0;
	font-weight: $font-weight-normal;
	font-style: normal;

	p + & {
		margin: $spacing-outer 0 $spacing-inner 0;
	}

	header > & {
		margin: 0;
	}

}

.title-1 {
	
	@extend %titles;
	$font-size: 3.3rem; 
	font-size: $font-size;

	& + .subheading {
		font-size: $font-size * 0.75;
	}
}
.title-2 {
	
	@extend %titles;
	$font-size: 2.5rem; 
	font-size: $font-size;

	& + .subheading {
		font-size: $font-size * 0.75;
	}
}
.title-3 {
	@extend %titles;
	font-style: italic;
	$font-size: 2rem; 
	font-size: $font-size;
}
.title-4 {
	@extend %titles;
	font-style: italic;
	$font-size: 1.5rem; 
	font-size: $font-size;
}
.title-5 {
	@extend %titles;
	font-style: italic;
	$font-size: 1.2rem; 
	font-size: $font-size;
	font-weight: $font-weight-semibold;
}
.title-6 {
	@extend %titles;
	font-style: italic;
	font-size: 1rem;
	font-weight: $font-weight-semibold;
}

h1 {
	@extend .title-1;
}
h2 {
	@extend .title-2;
}
h3 {
	@extend .title-3;
}
h4 {
	@extend .title-4;
}
h5 {
	@extend .title-5;
}
h6 {
	@extend .title-6;
}



// Subheadings
//
// **QUESTION:** `Subheadings should always be [case needed] and [contain/not contain] ending punctuation.`
//
// Subheadings should only be used in tandem with Title 1 and Title 2 headings, and should never be used
// independently from Titles.
//
// Devnotes: Subheadings should be 75% the size of a given title's font size.
//
// Markup:
// <h1></h1><span class="subheading">Subheading for Title 1</span>
// <h2></h2><span class="subheading">Subheading for Title 2</span>
//
// Hidemarkup: true
//
// Styleguide 2.2.1

.subheading {
	font-family: $title-font-family-secondary;
	font-style: italic;
	color: $title-font-color-secondary;
	font-weight: $font-weight-normal;
}





// Body Copy
//
// Markup:
// <p>Lorem ipsum dolor sit amet, <a href="">consectetur adipisicing</a> elit. Voluptas atque ratione doloremque ut, aut temporibus quibusdam libero, quod incidunt nemo, sint est, provident! Vitae hic impedit, deleniti, aliquid necessitatibus inventore!</p>
// <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perspiciatis ea eum possimus optio qui ullam praesentium sed odio deleniti officiis nesciunt veritatis deserunt, corporis excepturi id at consequatur modi!</p>
// <h3>Body Copy with a Title</h3>
// <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perspiciatis ea eum possimus optio qui <a href="">ullam praesentium sed odio</a> deleniti officiis nesciunt veritatis deserunt, corporis excepturi id at consequatur modi!</p>
//
// Hidemarkup: true
//
// Styleguide 2.3

p,
.copy {
	line-height: $line-height-primary;
	margin: $spacing-inner 0;
}





// Links
//
// Markup:
// <p><a href="">An example link</a></p>
//
// Hidemarkup: true
//
// Styleguide 2.4

a {

	color: $font-color-link;
	text-decoration: none;

	p > &,
	blockquote > &,
	span > &,
	small > & {
		text-decoration: $font-decoration-link;
	}

	&:hover,
	&.pseudo-class-hover {
		color: $font-color-link-hover;
		text-decoration: $font-decoration-link-hover;
	}

	&:focus {
		color: $font-color-link-focus;
		text-decoration: $font-decoration-link-focus;
	}

	p > & {
		padding: 0 0.25em;
	}

}





// Lists

ul,
ol,
dl {
	margin: $spacing-inner 0 $spacing-outer 0;
	padding: 0;
}

li {
	margin: $spacing-inner/2 $spacing-inner;
}



// Unordered Lists
//
// Markup:
// <ul>
//   <li>Lorem ipsum dolor sit amet</li>
//   <li>Consectetur adipisicing elit</li>
//   <li>Quisquam ab ex, quos ducimus quasi</li>
// </ul>
//
// Hidemarkup: true
//
// Styleguide 2.5



// Ordered Lists
//
// Markup:
// <ol>
//   <li>Lorem ipsum dolor sit amet</li>
//   <li>Consectetur adipisicing elit</li>
//   <li>Quisquam ab ex, quos ducimus quasi</li>
// </ol>
//
// Hidemarkup: true
//
// Styleguide 2.6



// Description Lists
//
// Markup:
// <dl>
//   <dt>Term #1</dt>
//   <dd>Defintion for the term above.</dd>
//   <dt>Term #2</dt>
//   <dd>Defintion for the term above.</dd>
// </dl>
//
// Hidemarkup: true
//
// Styleguide 2.7

dt {

	@extend .title-5;
	margin: $spacing-inner 0 0 0;

	dl + & {
		border-top: $border-width-primary solid $border-color-primary;
		padding-top: $spacing-inner;
	}
}

dd {
	margin: $spacing-inner/2 $spacing-inner 0;
}



// Blockquote
//
// Blockquote copy should always be surrounded by double quotes.
//
// Markup:
// <blockquote>
// "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum libero,
// cumque alias error deserunt labore iste qui aliquid, rerum, esse reprehenderit.
// A, ut laudantium sunt blanditiis non at, tempora dolore."
// <footer>
// — <cite>Source Person, Additional Info</cite>
// </footer>
// </blockquote>
//
// Styleguide 2.8

blockquote {

	margin: $spacing-outer 0;
	padding: $spacing-inner*3 $spacing-inner*3 $spacing-inner*2 $spacing-inner*4;
	font-size: $font-size-primary*1.5;
	line-height: $font-size-primary*3;
	font-style: italic;
	color: $font-color-secondary;

	footer {
		padding-top: $spacing-inner;
		font-size: $font-size-primary*1.125;
		color: $font-color-primary;
		text-align: right;
	}

}





// Legal Text
//
// Markup:
// <div class="legal-text">
// <p>Lorem ipsum dolor sit amet, <a href="">consectetur adipisicing</a> elit. Voluptas atque ratione doloremque ut, aut temporibus quibusdam libero, quod incidunt nemo, sint est, provident! Vitae hic impedit, deleniti, aliquid necessitatibus inventore!</p>
// <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perspiciatis ea eum possimus optio qui <a href="">ullam praesentium sed odio</a> deleniti officiis nesciunt veritatis deserunt, corporis excepturi id at consequatur modi!</p>
//</div>
//
// Styleguide 2.9

.legal-text {
	font-size: $font-size-tertiary;
}





// Code
//
// Not referenced in styleguide.

code, pre {

	font-family: monospace;
	font-size: $font-size-tertiary;

}



// Code Tag
//
// Markup:
// <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum libero,
// cumque alias error <code>deserunt labore</code> iste qui aliquid, rerum, esse reprehenderit.
// A, ut laudantium sunt blanditiis non at, tempora dolore.</p>
//
// Not referenced in styleguide.

code {
	padding: $spacing-inner/4 $spacing-inner/2;
	background: $panel-background-primary;
}



// Preformatted Tag
//
// Markup:
// <pre>
// Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum libero,
// cumque alias error deserunt labore iste qui aliquid, rerum, esse reprehenderit.
// A, ut laudantium sunt blanditiis non at, tempora dolore.
// </pre>
//
// Not referenced in styleguide.





// Strong tag

strong {
	font-weight: $font-weight-bold;
}