@import "https://fonts.googleapis.com/css?family=Archivo+Narrow|Open+Sans:300";
@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot");
  src: url("fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.kss-style {
  color: #444;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px; }
  .kss-style a {
    color: #440000;
    text-decoration: underline; }
    .kss-style a:visited {
      color: #330000; }
    .kss-style a:hover, .kss-style a:focus {
      color: #aa0000; }
    .kss-style a:active {
      color: #1F5363; }
    .kss-style a:hover, .kss-style a:active {
      outline: 0; }
    p .kss-style a, blockquote .kss-style a, ul .kss-style a {
      text-decoration: underline; }
  .kss-style p {
    margin: 12px 0 24px 0;
    max-width: 45rem; }
  .kss-style h1, .kss-style h2, .kss-style h3, .kss-style h4, .kss-style h5, .kss-style h6 {
    margin: 24px 0 0 0;
    font-family: "Archivo Narrow", Arial, sans-serif;
    color: #111;
    line-height: 1.15em; }
  .kss-style h4, .kss-style h5, .kss-style h6 {
    font-weight: bold; }
  .kss-style h1 {
    font-size: 40px; }
  .kss-style h2 {
    font-size: 36px; }
  .kss-style h3 {
    font-size: 32px; }
  .kss-style h4 {
    font-size: 30px; }
  .kss-style h5 {
    font-size: 28px; }
  .kss-style h6 {
    font-size: 24px; }
  .kss-style blockquote {
    color: #666;
    margin: 0;
    padding-left: 24px;
    border-left: 0.5em #d9d9d9 solid; }
  .kss-style hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #e6e6e6;
    margin: 24px 0;
    padding: 0; }
  .kss-style pre, .kss-style code, .kss-style kbd, .kss-style samp {
    font-family: Menlo, "Ubuntu Mono", "Lucida Console", "Courier New", Courier, monospace;
    color: #2b2b2b;
    font-size: 1em; }
  .kss-style pre {
    white-space: pre;
    overflow: scroll; }
  .kss-style ins {
    color: #111;
    background: #ff9;
    text-decoration: none; }
  .kss-style mark {
    color: #111;
    background: #ff0;
    font-weight: bold; }
  .kss-style sub, .kss-style sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  .kss-style sup {
    top: -0.5em; }
  .kss-style sub {
    bottom: -0.25em; }
  .kss-style ul, .kss-style ol {
    margin: 24px 0;
    padding: 0 0 0 24px; }
  .kss-style li p:last-child {
    margin: 0; }
  .kss-style dd {
    margin: 0 0 0 24px; }
  .kss-style img {
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle; }
  .kss-style table {
    border-collapse: collapse;
    border-spacing: 0; }
  .kss-style td {
    vertical-align: top; }
  @media print {
    .kss-style a, .kss-style a:visited {
      text-decoration: underline; }
    .kss-style hr {
      height: 1px;
      border: 0;
      border-bottom: 1px solid black; }
    .kss-style a[href]:after {
      content: " (" attr(href) ")"; }
    .kss-style a[href^="javascript:"]:after, .kss-style a[href^="#"]:after {
      content: ""; }
    .kss-style abbr[title]:after {
      content: " (" attr(title) ")"; }
    .kss-style pre, .kss-style blockquote {
      border: 1px solid #999;
      padding-right: 1em;
      page-break-inside: avoid; }
    .kss-style tr, .kss-style img {
      page-break-inside: avoid; }
    .kss-style img {
      max-width: 100% !important; }
    .kss-style p, .kss-style h2, .kss-style h3 {
      orphans: 3;
      widows: 3; }
    .kss-style h2, .kss-style h3 {
      page-break-after: avoid; } }

#kss-node {
  margin: 0;
  padding: 20px;
  background: #fff; }
  @media screen and (min-width: 800px) {
    #kss-node {
      padding: 0;
      background: #fff; } }
  #kss-node .kss-main {
    margin: 0 auto; }
    @media screen and (min-width: 800px) {
      #kss-node .kss-main {
        margin-left: 14rem;
        padding: 0 1.5rem;
        overflow: hidden; } }
  #kss-node .kss-sidebar,
  #kss-node .kss-footer {
    left: 0; }
    @media screen and (min-width: 800px) {
      #kss-node .kss-sidebar,
      #kss-node .kss-footer {
        position: fixed;
        width: 14rem; } }
  #kss-node .kss-sidebar {
    border-bottom: 1px solid #DDD;
    font-family: "Archivo Narrow", Arial, sans-serif;
    padding: 0 0 0 1.5rem; }
    #kss-node .kss-sidebar a {
      text-decoration: none; }
    @media screen and (min-width: 800px) {
      #kss-node .kss-sidebar {
        height: calc(100% - 4.5rem);
        overflow: scroll;
        border-right: 0;
        margin-bottom: 4.5rem;
        border-right: 1px solid #DDD; } }
  #kss-node .kss-footer {
    background: #f2f2f2;
    box-sizing: border-box;
    padding: 12px 12px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #DDD;
    font-family: "Open Sans", Arial, sans-serif;
    color: #444; }
    #kss-node .kss-footer img {
      display: block;
      margin: auto; }
    @media screen and (min-width: 800px) {
      #kss-node .kss-footer {
        bottom: 0;
        border-width: 1px 1px 0 0;
        height: 5.5rem; } }

#kss-node .kss-doc-title {
  margin: 0; }
  @media screen and (min-width: 800px) {
    #kss-node .kss-doc-title {
      font-size: 1.5em; } }
#kss-node .kss-header {
  padding: 24px 0;
  margin: 0; }
#kss-node .kss-nav__menu {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none; }
#kss-node .kss-nav__menu-item {
  display: inline-block;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 800px) {
    #kss-node .kss-nav__menu-item {
      display: list-item;
      padding-right: 0; }
      #kss-node .kss-nav__menu-item ul {
        margin-top: 10px;
        border-top: 1px solid #ccc;
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc; } }
#kss-node .kss-nav__menu-link {
  position: relative;
  display: inline-block;
  line-height: 1.5rem;
  padding-right: 24px; }
  @media screen and (min-width: 800px) {
    #kss-node .kss-nav__menu-link:before {
      content: ' ';
      position: absolute;
      left: -24px;
      width: 0;
      height: 100%;
      background-color: transparent; } }
  #kss-node .kss-nav__menu-link.is-in-viewport::before {
    background-color: #072736;
    width: 5px;
    transition: background-color .4s; }
#kss-node .kss-nav__menu-child {
  display: none; }
  @media screen and (min-width: 800px) {
    #kss-node .kss-nav__menu-child {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      #kss-node .kss-nav__menu-child li {
        padding-left: 24px; } }
#kss-node .kss-nav__ref {
  color: #333;
  padding-right: 1em; }
#kss-node .kss-nav__ref-child {
  font-weight: 400; }

#kss-node {
  /* Pretty printing styles. Used with prettify.js. */
  /* SPAN elements with the classes below are added by prettyprint. */
  /* plain text */
  /* string content */
  /* a keyword */
  /* a comment */
  /* a type name */
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  /* a markup tag name */
  /* a markup attribute name */
  /* a markup attribute value */
  /* a declaration; a variable name */
  /* a function name */
  /* Use higher contrast and text-weight for printable form. */
  /* Specify class=linenums on a pre to get line numbering */ }
  #kss-node .kss-section {
    margin-bottom: 48px; }
  #kss-node .kss-title {
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 24px; }
  #kss-node .kss-title__ref {
    display: block;
    font-size: 16px;
    line-height: 16px; }
    #kss-node .kss-title__ref:before {
      content: 'Section '; }
  #kss-node .kss-title__permalink {
    display: block;
    text-decoration: none;
    color: #444; }
    #kss-node .kss-title__permalink:hover, #kss-node .kss-title__permalink:focus, #kss-node .kss-title__permalink:active {
      color: #440000; }
      @media screen and (min-width: 607px) {
        #kss-node .kss-title__permalink:hover .kss-title__permalink-hash, #kss-node .kss-title__permalink:focus .kss-title__permalink-hash, #kss-node .kss-title__permalink:active .kss-title__permalink-hash {
          display: inline; }
          #kss-node .kss-title__permalink:hover .kss-title__permalink-hash::after, #kss-node .kss-title__permalink:focus .kss-title__permalink-hash::after, #kss-node .kss-title__permalink:active .kss-title__permalink-hash::after {
            font-family: "FontAwesome";
            content: '\f0c1';
            color: #5e5e5e; } }
  #kss-node .kss-title__permalink-hash {
    display: none;
    color: #373737; }
  #kss-node .kss-parameters {
    display: table;
    list-style-type: none;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0; }
  #kss-node .kss-parameters__title {
    font-weight: bold; }
  #kss-node .kss-parameters__item {
    display: table-row; }
  #kss-node .kss-parameters__name {
    display: table-cell;
    padding-right: 20px;
    white-space: nowrap; }
  #kss-node .kss-parameters__description {
    display: table-cell; }
  #kss-node .kss-parameters__default-value code {
    white-space: nowrap; }
  #kss-node .kss-modifier__wrapper {
    border: 1px solid #DDD; }
  #kss-node .kss-modifier__heading {
    border-bottom: 1px solid #DDD;
    background-color: #f2f2f2;
    padding: 6px 12px;
    font-family: "Archivo Narrow", Arial, sans-serif; }
  #kss-node .kss-modifier__default-name,
  #kss-node .kss-modifier__name {
    margin-left: 24px;
    font-weight: 600; }
  #kss-node .kss-modifier__default-name {
    margin-bottom: 12px; }
  #kss-node .kss-modifier__name {
    float: left;
    padding-right: 10px; }
  #kss-node .kss-modifier__description {
    margin-bottom: 12px; }
  #kss-node .kss-modifier__example {
    clear: left;
    padding: 24px;
    position: relative;
    margin: 0 0 23px 0; }
    #kss-node .kss-modifier__example:last-child {
      margin: 0; }
  #kss-node .kss-markup {
    margin: -1px 0 24px 0;
    border: 1px solid #999;
    max-height: 300px;
    overflow: scroll; }
  #kss-node .kss-markup pre {
    margin: 0; }
  #kss-node .kss-source {
    font-size: 80%; }
  #kss-node .kss-github {
    display: none; }
    @media screen and (min-width: 501px) {
      #kss-node .kss-github {
        display: block;
        position: absolute;
        top: 0;
        right: 0; } }
    #kss-node .kss-github img {
      border: 0; }
  #kss-node .pln {
    color: #000; }
  #kss-node .str {
    color: #080; }
  #kss-node .kwd {
    color: #008; }
  #kss-node .com {
    color: #800; }
  #kss-node .typ {
    color: #606; }
  #kss-node .lit {
    color: #066; }
  #kss-node .pun, #kss-node .opn, #kss-node .clo {
    color: #660; }
  #kss-node .tag {
    color: #008; }
  #kss-node .atn {
    color: #606; }
  #kss-node .atv {
    color: #080; }
  #kss-node .dec, #kss-node .var {
    color: #606; }
  #kss-node .fun {
    color: red; }
  @media print, projection {
    #kss-node .str {
      color: #060; }
    #kss-node .kwd {
      color: #006;
      font-weight: bold; }
    #kss-node .com {
      color: #600;
      font-style: italic; }
    #kss-node .typ {
      color: #404;
      font-weight: bold; }
    #kss-node .lit {
      color: #044; }
    #kss-node .pun, #kss-node .opn, #kss-node .clo {
      color: #440; }
    #kss-node .tag {
      color: #006;
      font-weight: bold; }
    #kss-node .atn {
      color: #404; }
    #kss-node .atv {
      color: #060; } }
  #kss-node ol.linenums {
    margin: 0;
    padding: 0 0 3px 0;
    list-style-type: none;
    /* Alternate shading for lines */ }
    #kss-node ol.linenums li {
      min-height: 24px;
      border-bottom: 1px solid #eee;
      padding: 0 10px;
      background: #fff; }
      #kss-node ol.linenums li:first-child {
        padding-top: 3px; }
    #kss-node ol.linenums li.L0,
    #kss-node ol.linenums li.L2,
    #kss-node ol.linenums li.L4,
    #kss-node ol.linenums li.L6,
    #kss-node ol.linenums li.L8 {
      background: #fcfcfc; }

/*# sourceMappingURL=kss.css.map */
