// ====== Brand/Site-Specific ====== //

// Brand-specific, color-named vars belong here. Those names/variables
// should never move past this file if it can be helped, though;
// rather, make a role/context based variable and assign the brand-
// specific value here instead.
//
// For example:
//
// Correct:
// $company-blue: #002299; // set the hex
// $font-link-color: $company-blue; // use the hex
//
// a { color: $font-link-color; }
//
// This way, if links need to change to, say, orange, you don't have
// a misleading variable name scattered throughout your code, but you
// also aren't left wondering "which one was the blue one again?"
// because you can reference this file for the initial value.
//
// It can also be valuable to have general variables to be used later
// to leverage the benefits of what is outlined above while still having
// general variables to use elsewhere in the file:
//
// Correct:
// $company-blue: #002299; // set the hex
// $company-action-color: $company-blue; // use the hex
// $font-link-color: $company-action-color; // use the general variable name 
//
// a { color: $font-link-color; }
//
// This makes things a little more readable, but use what works best for you.
// The important things is to keep any brand- or company-specific variable
// names in this folder only.

// Fonts
//
// The base font size is [], with a line height of 1.5rem.
// The font families in play are [].
//
// Markup: fonts.html
//
// HideMarkup: true
//
// Styleguide 1.7


@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot');
  src: url('fonts/fontawesome-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/fontawesome-webfont.woff') format("woff"), url('fonts/fontawesome-webfont.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import 'https://fonts.googleapis.com/css?family=Montserrat|Varela+Round';

$font-family-varela-round:  'Varela Round', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-icon: 'FontAwesome', serif;



// ====== Typography ====== //

$font-decoration-link: underline;
$font-decoration-link-hover: none;
$font-decoration-link-focus: $font-decoration-link-hover;

$font-family-primary: $font-family-montserrat;
$font-family-secondary: $font-family-varela-round;

$title-font-family-primary: $font-family-varela-round;
$title-font-family-secondary: $font-family-montserrat;

$font-size-primary: 18px;
$font-size-secondary: 15px;
$font-size-tertiary: 12px;

$font-size-button: $font-size-primary;

$line-height-primary: 1.5rem;

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;



// ====== Form Elements ====== //

// === Buttons === //

$button-font-primary: $font-family-varela-round;
