// Tables and Information Sets
//
// Styleguide 4

// Tables
//
// Markup: tables.html
//
// Styleguide 4.1

table {

  margin: $spacing-outer 0;
  border-spacing: 1px;
  border-collapse: collapse;
  border-color: $border-color-primary;
  border-width: $border-width-primary $border-width-primary 0 $border-width-primary;
  border-style: solid;

  tr {
    border-bottom: $border-width-primary solid $border-color-primary;
  }

  th,
  td {
    padding: $spacing-inner/2 $spacing-inner;
    & + th,
    & + td, {
      border-left: $border-width-primary solid $border-color-primary;
    }
  }

  th {
    font-style: italic;
    background: $panel-background-primary;
  }

  td {
    vertical-align: top;
  }

}